<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO"> <Appenders>
    <Console name="ConsoleAppender" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>

    <File name="FileAppender" fileName="logs/application.log">
        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </File>

    <RollingFile name="RollingFileAppender"
                 fileName="logs/test_automation.log"
                 filePattern="logs/test_automation-%d{yyyy-MM-dd}-%i.log.gz">
        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        <Policies>
            <SizeBasedTriggeringPolicy size="10 MB"/>
        </Policies>
        <DefaultRolloverStrategy max="10"/>
    </RollingFile>

    <File name="HtmlFileAppender" fileName="reports/logs/automation_report.html">
        <HTMLLayout title="Selenium BDD Automation Log" />
    </File>

</Appenders>

    <Loggers>
        <Root level="INFO"> <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Root>

        <Logger name="src.test.java" level="DEBUG" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>

        <Logger name="src.test.java.stepdefinitions.WebStepDefinitions" level="DEBUG" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>

        <Logger name="org.openqa.selenium" level="WARN" additivity="true"/>
        <Logger name="io.netty" level="WARN" additivity="true"/>

    </Loggers>
</Configuration>